.nav-wrap {
    background-color: rgba(0, 0, 0, .01);
    /* height: 90vh; */
    padding: 90px 10px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.nav-wrap:hover {
    background-color: rgba(0, 0, 0, .3);
}

.icon {
    font-size: 3rem;
}