

.slide.next-slide {
    opacity: 0;
}

/* .next-slide {
    opacity: 0;
} */

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
}
.fade-exit {
    opacity: 1;
}

.fade-exit-done {
    opacity: 0;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
}